body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.5;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blockDetails {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navigation {
  margin-top: 20px;
}

.Navigation button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Navigation button:hover {
  background-color: #0056b3;
}

.blocksList {
  margin-top: 20px;
}

.blockPreview button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.blockPreview button:hover {
  background-color: #218838;
}

.TransactionsList {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TransactionsList ul {
  list-style: none;
  padding: 0;
}

.TransactionsList li {
  margin-bottom: 20px;
}

.TransactionsList li:hover {
  background-color: #f9f9f9;
}

.Homepage {
  margin-top: 20px;
}

.HomepageTxList {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.HomepageTxList h2 {
  color: #333;
}

.HomepageTxList ul {
  list-style: none;
  padding: 0;
}

.HomepageTxList li {
  margin-bottom: 20px;
}

.HomepageTxList li:hover {
  background-color: #f9f9f9;
}
/* Add these styles to the end of your existing index.css */

/* App.js styles */
h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Homepage.js styles */
.Homepage {
  text-align: center;
}

.HomepageTxList h2 {
  color: #333;
  margin-bottom: 20px;
}

.HomepageTxList div {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for Latest Block Number and LATEST BLOCKS */
.Homepage div {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.BlocksList h2 {
  color: #333;
  margin-bottom: 20px;
}
